<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All libraries.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>All tools.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>OpenSource.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>configure.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>xarLib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>xarStatic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>xarTool.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>xarsig.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B41FC04F09F6B76200006FAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B41FC05E09F6B7C200006FAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B41FC0E109F6BD6800006FAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B41FC0F309F6BE2F00006FAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B41FC12109F6BEF900006FAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B41FC12F09F6BF5900006FAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9D659A31486FD650089C4DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9D659AB1486FFD10089C4DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EEEFF3DF0EFB6FD500DBC955</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
